<div class="layout bbottomtop">
	<div class="cell top {{appLayouts.[0]}}">
	    {{{appViews.[0]}}}
	</div>
	<div class="cell left bottom {{appLayouts.[1]}}">
	    {{{appViews.[1]}}}
	</div>
	<div class="cell right bottom {{appLayouts.[2]}}">
	    {{{appViews.[2]}}}
	</div>
</div>