<div class="layout lleftright">
	<div class="cell left top {{appLayouts.[0]}}">
	    {{{appViews.[0]}}}
	</div>
	<div class="cell left bottom {{appLayouts.[1]}}">
	    {{{appViews.[1]}}}
	</div>
	<div class="cell right {{appLayouts.[2]}}">
	    {{{appViews.[2]}}}
	</div>
</div>